    </main>
    <div class="loading-overlay" hidden data-loading-overlay>
      <div class="loading-spinner"></div>
      <p data-loading-text>Loading...</p>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
